<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.idea.mapper.EventMapper">
  <resultMap id="BaseResultMap" type="com.hand.idea.domain.Event">
  <id column="eid" jdbcType="INTEGER" property="id" />
  <result column="founderId" jdbcType="INTEGER" property="founderid" />
  <result column="title" jdbcType="VARCHAR" property="title" />
  <result column="type" jdbcType="INTEGER" property="type" />
  <result column="photoName" jdbcType="VARCHAR" property="photoname" />
  <result column="province" jdbcType="VARCHAR" property="province" />
  <result column="city" jdbcType="VARCHAR" property="city" />
  <result column="detailedDescription" jdbcType="VARCHAR" property="detaileddescription" />
  <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  <result column="stateId" jdbcType="INTEGER" property="stateid" />
  <result column="instruction" jdbcType="VARCHAR" property="instruction" />
  <result column="support" jdbcType="INTEGER" property="support" />
</resultMap>
  <resultMap id="EventWithUserResultMap" type="com.hand.idea.domain.Event">
    <id column="eid" jdbcType="INTEGER" property="id" />
    <result column="founderId" jdbcType="INTEGER" property="founderid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="photoName" jdbcType="VARCHAR" property="photoname" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="detailedDescription" jdbcType="VARCHAR" property="detaileddescription" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="stateId" jdbcType="INTEGER" property="stateid" />
    <result column="instruction" jdbcType="VARCHAR" property="instruction" />
    <result column="support" jdbcType="INTEGER" property="support" />
    <association property="user" javaType="User">
      <id column="id" jdbcType="INTEGER" property="uid" />
      <result column="nike_name" jdbcType="VARCHAR" property="nikeName"/>
      <result column="head_photo" jdbcType="VARCHAR" property="headPhoto" />
    </association>
    <association property="eventType" javaType="EventType">
      <id column="id" jdbcType="INTEGER" property="etid" />
      <result column="typeContent" jdbcType="VARCHAR" property="typecontent" />
  </association>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    eid, founderId, title, type, photoName, province, city, detailedDescription, createTime,
    stateId, instruction, support
  </sql>
  <sql id="EventsWithUserList">
    e.eid, e.founderId, e.title, e.photoName, e.province, e.city, e.detailedDescription, e.createTime,
    e.stateId, e.instruction, e.support,u.nike_name,u.head_photo,et.typeContent
  </sql>
  <select id="selectEventByFounder" parameterType="com.hand.idea.domain.EventExample" resultMap="EventWithUserResultMap">
    select
    <include refid="EventsWithUserList"/>
    from idea_event e,idea_user u,idea_eventtype et
    where u.`id`=e.`founderId` and e.`type`=et.`id` and e.founderId = #{founderid,jdbcType=INTEGER}
  </select>
  <select id="selectEventByTitle" parameterType="java.lang.String" resultMap="EventWithUserResultMap">
    select
    <include refid="EventsWithUserList"/>
    from idea_event e,idea_user u,idea_eventtype et
    where u.`id`=e.`founderId` and e.`type`=et.`id` and e.title = #{title,jdbcType=VARCHAR}
  </select>
  <select id="selectEventByTime" parameterType="com.hand.idea.domain.EventExample" resultMap="EventWithUserResultMap">
    select
    <include refid="EventsWithUserList"/>
    from idea_event e,idea_user u,idea_eventtype et
    where u.`id`=e.`founderId` and e.`type`=et.`id`
    order by createTime desc
  </select>
  <select id="selectEventsWithUser" parameterType="com.hand.idea.domain.EventExample" resultMap="EventWithUserResultMap">
    select
    <include refid="EventsWithUserList"/>
    from idea_event e,idea_user u,idea_eventtype et
    where u.`id`=e.`founderId` and e.`type`=et.`id`
  </select>

  <select id="searchEvents" parameterType="com.hand.idea.domain.EventExample" resultMap="EventWithUserResultMap">
    <bind name="bindselectword" value="'%'+selectWord+'%'"></bind>
    select distinct
    <include refid="EventsWithUserList"/>
    from idea_event e,idea_user u,idea_eventtype et
    <if test="selectWord!=null">
     where  u.`id`=e.`founderId` and e.`type`=et.`id` and
      e.city like #{bindselectword}
    </if>
  </select>

  <select id="selectByExample" parameterType="com.hand.idea.domain.EventExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from idea_event
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="EventWithUserResultMap">
    select
    <include refid="EventsWithUserList" />
    from idea_event e,idea_user u,idea_eventtype et
    where u.`id`=e.`founderId` and e.`type`=et.`id`
    and e.eid = #{eid,jdbcType=INTEGER}
  </select>
  <select id="selectByEventType" parameterType="com.hand.idea.domain.EventExample" resultMap="EventWithUserResultMap">
    select
    <include refid="EventsWithUserList" />
    from idea_event e,idea_user u,idea_eventtype et
    where u.`id`=e.`founderId` and e.`type`=et.`id`
    and type = #{type,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from idea_event
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hand.idea.domain.EventExample">
    delete from idea_event
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelectiveEvent" parameterType="com.hand.idea.domain.Event">
    insert into idea_event
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="founderId != null">
        founderId,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="photoname != null">
        photoName,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="instruction != null">
        instruction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="founderId != null">
        #{founderId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="photoname != null">
        #{photoname,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="instruction != null">
        #{instruction,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="insert" parameterType="com.hand.idea.domain.Event">
    insert into idea_event (eid,founderId, title,
      type, photoName, province, 
      city, detailedDescription, createTime, 
      stateId, instruction, support
      )
    values (#{eid,jdbcType=INTEGER},#{founderid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR},
      #{type,jdbcType=INTEGER}, #{photoname,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{detaileddescription,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{stateid,jdbcType=INTEGER}, #{instruction,jdbcType=VARCHAR}, #{support,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertEvent" parameterType="com.hand.idea.domain.Event">
    insert into idea_event (founderId,title,
    type, photoName, province,
    city,  createTime, instruction
    )
    values (#{founderid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR},
    #{type,jdbcType=INTEGER}, #{photoname,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR},
    #{city,jdbcType=VARCHAR},  #{createtime,jdbcType=TIMESTAMP},
  #{instruction,jdbcType=VARCHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.hand.idea.domain.Event">
    insert into idea_event
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        eid,
      </if>
      <if test="founderid != null">
        founderId,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="photoname != null">
        photoName,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="detaileddescription != null">
        detailedDescription,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="stateid != null">
        stateId,
      </if>
      <if test="instruction != null">
        instruction,
      </if>
      <if test="support != null">
        support,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{eid,jdbcType=INTEGER},
      </if>
      <if test="founderid != null">
        #{founderid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="photoname != null">
        #{photoname,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="detaileddescription != null">
        #{detaileddescription,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="stateid != null">
        #{stateid,jdbcType=INTEGER},
      </if>
      <if test="instruction != null">
        #{instruction,jdbcType=VARCHAR},
      </if>
      <if test="support != null">
        #{support,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hand.idea.domain.EventExample" resultType="java.lang.Long">
    select count(*) from idea_event
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update idea_event
    <set>
      <if test="record.eid != null">
        eid = #{record.eid,jdbcType=INTEGER},
      </if>
      <if test="record.founderid != null">
        founderId = #{record.founderid,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.photoname != null">
        photoName = #{record.photoname,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null">
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null">
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.detaileddescription != null">
        detailedDescription = #{record.detaileddescription,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.stateid != null">
        stateId = #{record.stateid,jdbcType=INTEGER},
      </if>
      <if test="record.instruction != null">
        instruction = #{record.instruction,jdbcType=VARCHAR},
      </if>
      <if test="record.support != null">
        support = #{record.support,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update idea_event
    set eid = #{record.eid,jdbcType=INTEGER},
      founderId = #{record.founderid,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      photoName = #{record.photoname,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      detailedDescription = #{record.detaileddescription,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      stateId = #{record.stateid,jdbcType=INTEGER},
      instruction = #{record.instruction,jdbcType=VARCHAR},
      support = #{record.support,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hand.idea.domain.Event">
    update idea_event
    <set>
      <if test="founderid != null">
        founderId = #{founderid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="photoname != null">
        photoName = #{photoname,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="detaileddescription != null">
        detailedDescription = #{detaileddescription,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="stateid != null">
        stateId = #{stateid,jdbcType=INTEGER},
      </if>
      <if test="instruction != null">
        instruction = #{instruction,jdbcType=VARCHAR},
      </if>
      <if test="support != null">
        support = #{support,jdbcType=INTEGER},
      </if>
    </set>
    where eid = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hand.idea.domain.Event">
    update idea_event
    set founderId = #{founderid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      photoName = #{photoname,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      detailedDescription = #{detaileddescription,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      stateId = #{stateid,jdbcType=INTEGER},
      instruction = #{instruction,jdbcType=VARCHAR},
      support = #{support,jdbcType=INTEGER}
    where eid = #{id,jdbcType=INTEGER}
  </update>
</mapper>